# Relatório de Análise I

## importando as bases de dados

In [7]:


import pandas as pd 

dados = pd.read_csv('dados/aluguel.csv', sep = ';')

dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [24]:
#pd.Dataframe(xxx, columns = [nomeia a coluna de numero 1, dos tipos])
tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipos de Dados'])

In [26]:
# ao fazer o columns.name nomeia a do INDEX
tipos_de_dados.columns.name= "Variaveis"
tipos_de_dados

Variaveis  Tipos de Dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [12]:
# primeiro valor é linhas = 9, e o outro é colunas =              1
tipos_de_dados.shape

(9, 1)

In [14]:
# 0 é linhas
tipos_de_dados.shape[0]

9

In [17]:
# 1 é colunas
tipos_de_dados.shape[1]

1

In [19]:
print(f'A base de dados apresenta {dados.shape[0], dados.shape[1]}')

A base de dados apresenta (32960, 9)

In [27]:
import pandas as pd
data = [['Fulano', 12, 7.0, True],
        ['Sicrano', 15, 3.5, False], 
        ['Beltrano', 18, 9.3, True]]
dados = pd.DataFrame(data, 
        columns = ['Aluno', 'Idade', 'Nota', 'Aprovado'])
dados

      Aluno  Idade  Nota  Aprovado
0    Fulano     12   7.0      True
1   Sicrano     15   3.5     False
2  Beltrano     18   9.3      True

In [37]:
data = [['natalia', 24, 'filha'], 
       ['Thiago', 22, 'filho'],
       ['Leonardo', 27, 'filho']]
dados1 = pd.DataFrame(data, columns = ['Nome', 'Idade', 'Genero'])

In [42]:
tipos = pd.DataFrame(dados1.dtypes, columns = ["Tipos de dados"])
tipos

       Tipos de dados
Nome           object
Idade           int64
Genero         object

In [45]:
tipos.info

<bound method DataFrame.info of        Tipos de dados
Nome           object
Idade           int64
Genero         object>