In [2]:
import pandas as pd

In [4]:
data = [[1,2,3], [4, 5, 6], [7, 8, 9 ]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [10]:
# a função list já separa os valores,
list('321')

['a', 'b', 'c']

In [12]:
df = pd.DataFrame(data, list('321'), list('ZYX'))

In [13]:
# ordena por index, somente, desconsiderando o eixo das colunas (z, y, x )
df.sort_index(inplace = True)

In [14]:
df

   Z  Y  X
1  7  8  9
2  4  5  6
3  1  2  3

In [16]:
# ordena as colunas
df.sort_index(inplace = True, axis = 1)
df

   X  Y  Z
1  9  8  7
2  6  5  4
3  3  2  1

In [18]:
df.sort_values(by = ['X', 'Y'])

   X  Y  Z
3  3  2  1
2  6  5  4
1  9  8  7

In [20]:
# ordenando de acordo com a coluna do index 3
df.sort_values(by = '3', axis = 1, inplace = True)
df

   Z  Y  X
1  7  8  9
2  4  5  6
3  1  2  3

In [21]:
df.sort_index()

   Z  Y  X
1  7  8  9
2  4  5  6
3  1  2  3

In [22]:
df.sort_index(axis = 1)

   X  Y  Z
1  9  8  7
2  6  5  4
3  3  2  1

In [23]:
data = [['a','b','c'], ['j', 'k', 'o'], ['p', 'm', 'n' ]]

In [24]:
data

[['a', 'b', 'c'], ['j', 'k', 'o'], ['p', 'm', 'n']]

In [26]:
df_teste = pd.DataFrame(data, list('897'), list('xzy'))
df_teste

   x  z  y
8  a  b  c
9  j  k  o
7  p  m  n

In [27]:
# o sort_values ordena OS VALORES DE acordo com a coluna/index passado (pode passar mais de um)
df_teste.sort_values(by = ['x'])

   x  z  y
8  a  b  c
9  j  k  o
7  p  m  n

## O que foi visto até aqui:
+ Criar uma Series booleana usando o método isin(..) a partir do dataframe
+ Filtrar os dados de um dataframe baseado na Series booleana
+ Exportar e gravar os dados do dataframe (método to_csv())
+ Ordenar os dados de um dataframe (métodos sort_values() e sort_index())